In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})

In [5]:
df

               Airline  FlightNumber           From_To  RecentDelays
0               KLM(!)       10045.0      LoNDon_paris      [23, 47]
1    <Air France> (12)           NaN      MAdrid_miLAN            []
2  (British Airways. )       10065.0  londON_StockhOlm  [24, 43, 87]
3       12. Air France           NaN    Budapest_PaRis          [13]
4          "Swiss Air"       10085.0   Brussels_londOn      [67, 32]

In [6]:
df['FlightNumber'][1]=10055

C:\Users\SUMIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
df['FlightNumber'][3]=10055

C:\Users\SUMIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
df

               Airline  FlightNumber           From_To  RecentDelays
0               KLM(!)       10045.0      LoNDon_paris      [23, 47]
1    <Air France> (12)       10055.0      MAdrid_miLAN            []
2  (British Airways. )       10065.0  londON_StockhOlm  [24, 43, 87]
3       12. Air France       10055.0    Budapest_PaRis          [13]
4          "Swiss Air"       10085.0   Brussels_londOn      [67, 32]

In [9]:
df['FlightNumber']=df['FlightNumber'].astype(int)

In [10]:
df

               Airline  FlightNumber           From_To  RecentDelays
0               KLM(!)         10045      LoNDon_paris      [23, 47]
1    <Air France> (12)         10055      MAdrid_miLAN            []
2  (British Airways. )         10065  londON_StockhOlm  [24, 43, 87]
3       12. Air France         10055    Budapest_PaRis          [13]
4          "Swiss Air"         10085   Brussels_londOn      [67, 32]

In [167]:
[df['From_To']]

KeyError: 'From_To'

In [20]:
type([df['From_To']])

list

In [29]:
str([df['From_To']])

'[0        LoNDon_paris\n1        MAdrid_miLAN\n2    londON_StockhOlm\n3      Budapest_PaRis\n4     Brussels_londOn\nName: From_To, dtype: object]'

In [166]:
df['From_To'][0].split('_')

KeyError: 'From_To'

In [41]:
sp=[x.split('_') for x in df['From_To']]

In [168]:
From=[x[0] for x in sp]

In [176]:
To=[x[1] for x in sp]

In [171]:
From=[x.capitalize() for x in From]

In [172]:
From

['London', 'Madrid', 'London', 'Budapest', 'Brussels']

In [177]:
To=[x.title() for x in To]

In [178]:
To

['Paris', 'Milan', 'Stockholm', 'Paris', 'London']

In [139]:
del df['From_To']

In [157]:
type(From)

list

In [181]:
From=pd.DataFrame(From,columns=['Start From'])

In [182]:
To=pd.DataFrame(To,columns=['Destination'])

In [183]:
To

  Destination
0       Paris
1       Milan
2   Stockholm
3       Paris
4      London

In [184]:
From

  Start From
0     London
1     Madrid
2     London
3   Budapest
4   Brussels

In [185]:
df

               Airline  FlightNumber  RecentDelays
0               KLM(!)         10045      [23, 47]
1    <Air France> (12)         10055            []
2  (British Airways. )         10065  [24, 43, 87]
3       12. Air France         10055          [13]
4          "Swiss Air"         10085      [67, 32]

In [197]:
df['From']=From

In [199]:
del df['Start']

In [200]:
df

               Airline  FlightNumber  RecentDelays      From
0               KLM(!)         10045      [23, 47]    London
1    <Air France> (12)         10055            []    Madrid
2  (British Airways. )         10065  [24, 43, 87]    London
3       12. Air France         10055          [13]  Budapest
4          "Swiss Air"         10085      [67, 32]  Brussels

In [201]:
df['To']=To

In [202]:
df

               Airline  FlightNumber  RecentDelays      From         To
0               KLM(!)         10045      [23, 47]    London      Paris
1    <Air France> (12)         10055            []    Madrid      Milan
2  (British Airways. )         10065  [24, 43, 87]    London  Stockholm
3       12. Air France         10055          [13]  Budapest      Paris
4          "Swiss Air"         10085      [67, 32]  Brussels     London

In [220]:
pd.Series([x for x in df['RecentDelays']])

0        [23, 47]
1              []
2    [24, 43, 87]
3            [13]
4        [67, 32]
dtype: object

In [264]:
Delays=pd.DataFrame([x for x in df['RecentDelays']])

In [265]:
Delays

      0     1     2
0  23.0  47.0   NaN
1   NaN   NaN   NaN
2  24.0  43.0  87.0
3  13.0   NaN   NaN
4  67.0  32.0   NaN

In [250]:
Delays.rename(columns={"0":'Delay1',"1":"Delay2","2":"Delay_2"})

SyntaxError: invalid syntax (<ipython-input-250-aa73a2c675cd>, line 1)

In [248]:
Delays.rename

0    67.0
1    32.0
2     NaN
Name: 4, dtype: float64

In [253]:
Delays[0].rename(columns={"0":'Delay_1'})

0    23.0
1     NaN
2    24.0
3    13.0
4    67.0
dtype: float64

In [261]:
Delays.columns.rename({'0':'Delay1'})

RangeIndex(start=0, stop=3, step=1, name={'0': 'Delay1'})

In [262]:
Delays

0     0     1     2
0  23.0  47.0   NaN
1   NaN   NaN   NaN
2  24.0  43.0  87.0
3  13.0   NaN   NaN
4  67.0  32.0   NaN

In [267]:
df['Delay_1']=Delays[0]

In [269]:
df['Delay_2']=Delays[1]

In [270]:
df['Delay_3']=Delays[2]

In [271]:
df

,Airline,FlightNumber,RecentDelays,From,To,Delay_1,Delay_2,Delay_3
0,KLM(!),10045,"[23, 47]",London,Paris,23.0,47.0,NaN
1,<Air France> (12),10055,[],Madrid,Milan,NaN,NaN,NaN
2,(British Airways. ),10065,"[24, 43, 87]",London,Stockholm,24.0,43.0,87.0
3,12. Air France,10055,[13],Budapest,Paris,13.0,NaN,NaN
4,"""Swiss Air""",10085,"[67, 32]",Brussels,London,67.0,32.0,NaN

In [273]:
del df['RecentDelays']

In [276]:
df

,Airline,FlightNumber,From,To,Delay_1,Delay_2,Delay_3
0,KLM(!),10045,London,Paris,23.0,47.0,NaN
1,<Air France> (12),10055,Madrid,Milan,NaN,NaN,NaN
2,(British Airways. ),10065,London,Stockholm,24.0,43.0,87.0
3,12. Air France,10055,Budapest,Paris,13.0,NaN,NaN
4,"""Swiss Air""",10085,Brussels,London,67.0,32.0,NaN

In [282]:
df.iloc[0][0]=='KLM'

False

In [285]:
df['Airline'][0]='KLM'

C:\Users\SUMIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [287]:
df['Airline'][1]='Air France'

C:\Users\SUMIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [289]:
df['Airline'][2]='British Airways'

C:\Users\SUMIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [290]:
df['Airline'][4]='Swiss Air'

C:\Users\SUMIT\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [291]:
df

,Airline,FlightNumber,From,To,Delay_1,Delay_2,Delay_3
0,KLM,10045,London,Paris,23.0,47.0,NaN
1,Air France,10055,Madrid,Milan,NaN,NaN,NaN
2,British Airways,10065,London,Stockholm,24.0,43.0,87.0
3,12. Air France,10055,Budapest,Paris,13.0,NaN,NaN
4,Swiss Air,10085,Brussels,London,67.0,32.0,NaN